<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ru.solarfields.app"
    versionCode = "10"
    version     = "1.1.0">

<name>ТЕСТ. SOLAR FIELDS</name>

<description>
    приложение для бренда
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#E53A24" />


<platform name="android">
    <icon src="res/android/icon/5803de5e74fd6a809226c3bc9a415d4b.png" density="ldpi" />
    <icon src="res/android/icon/59b089ee6f5cf68c426defe5dac638bc.png" density="mdpi" />
    <icon src="res/android/icon/2d20f45ca8b69bff1b854c6be0b2f665.png" density="hdpi" />
    <icon src="res/android/icon/f57eb5dc9f94ed7b5875dca20e767001.png" density="xhdpi" />
    <icon src="res/android/icon/104f218e0ec12ab4fd7635396757dbe5.png" density="xxhdpi" />
    <icon src="res/android/icon/7dab95a3b9e94d2db42d7b0799063152.png" density="xxxhdpi" />

    <splash src="res/android/screen/8b869eb802bd2054d6d74bf00b1a1031.png" density="port-hdpi"/>
    <splash src="res/android/screen/73079f996cdc2f4e7dd7755fce566e78.png" density="port-ldpi"/>
    <splash src="res/android/screen/32ce609a33c6400300e6c537f43f694f.png" density="port-mdpi"/>
    <splash src="res/android/screen/2e960c1a7549d71726d36b01807d1d9a.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/4d8ba2518f6bc42cad1f653d4d018223.png" width="180" height="180" />
	<icon src="res/ios/icon/604254f48b549065421f7e785a963388.png" width="60" height="60" />
	<icon src="res/ios/icon/89d64f9e52335335d0db7c32dc3ec76a.png" width="120" height="120" />
	<icon src="res/ios/icon/2c4510bb5a3782faedcc4f53c06825b9.png" width="76" height="76" />
	<icon src="res/ios/icon/a7650398dfcd1410fd2e2afa89813a2f.png" width="152" height="152" />
	<icon src="res/ios/icon/3eb0ba3be15a67f5060c324c3bf7a808.png" width="57" height="57" />
	<icon src="res/ios/icon/d9e8b1af060dda89d626fd0fc26745ea.png" width="114" height="114" />
	<icon src="res/ios/icon/f6b20dfecede487d255e0f1f05348653.png" width="72" height="72" />
	<icon src="res/ios/icon/04728292e315761fa447f92f92d92e7d.png" width="144" height="144" />
	<icon src="res/ios/icon/78755164415ed40b9e3ab919da378736.png" width="167" height="167" />
	<icon src="res/ios/icon/8c7a06949338ba399749b5fdd6e04f35.png" width="29" height="29" />
	<icon src="res/ios/icon/9cbee8b3938a5f43c0a052fa2e5053d5.png" width="58" height="58" />
	<icon src="res/ios/icon/dada1e90b43d01be69982b2ead561381.png" width="87" height="87" />
	<icon src="res/ios/icon/a0384ec2c92a8129c3f9f5355054b403.png" width="167" height="167" />

	<splash src="res/ios/screen/9b19700c20d0962cfee1435b7a610da0.png" />
    <splash src="res/ios/screen/e83bc345569ab20a2919672bea3acb4d.png" />
    <splash src="res/ios/screen/6fb67050bd750c3440d8996a3ab2a503.png" />
    <splash src="res/ios/screen/9c627c8bda480819a5527bc45a6d1aa4.png" />
    <splash src="res/ios/screen/5c6f2aa0c8f86113225210598c72dc1e.png" />
    <splash src="res/ios/screen/00170fc8d9f18c49327e6b9b7c994ed6.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/f79120f8bfe3151deed0f1db9d11a2c4.png" target="StoreLogo" />
    <icon src="res/windows/icon/4d0c76d05dba742cdaf234a3a1e61794.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/93de06b77bec93984423c63446e4a836.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/60b320f6b375f403bfe24f02c70ed672.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/8f448e73d87190db7f82e099d1f3c9e7.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/e7ac8d8e270a9b29ba1597397f10be91.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/98ae1fe9460c8da586e28290258d3696.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/a34527662e50de431dfdfe99d3df12b8.png" target="SplashScreen"/>
    <splash src="res/windows/screen/6c17219e65cdb16924bda47851a40552.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>